*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container{
    border: 2px solid black;
    min-height: 40vh;
    min-width: 40vh;
    border-radius: 1rem;
}
h2{
    background-color: black;
    color: white;
    line-height: 2;
    text-align: center;
}
.box{
    background-color: blue;
    color: white;
    height: 7vh;
}
.box p{
    font-family: fantasy;
    text-align: center;
    font-size: 20px;
}
.box #input{
    margin-top: 6px;
    height: 20px;
    width: 35vh;
    margin-left: 5px;
    border-radius: 7px;
}
.form{
   height: 20vh;
   width: 100%;
}
.dropdown{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.from , .to{
    background-color: brown;
    height: 15vh;
    width: 15vh;
}